@media ( min-width: 768px ) {

      .login__image {
            width: 70%;
      }     

      .login__gif-1 img,
      .login__gif-2 img {
            width: 40%;
      }

      .bar--app .bar__image{
            width: 70%;
      }

      .btn--reset {
            width: 70%;
      }

      .choose__header img {
            width: 20%;
      }

      .pokemon-grid  {
            grid-template-columns: repeat(2, 1fr);
      }

      .modal__pop  {
            width: 80%;
            padding: 3rem;
      }

      .modal__icon {
            align-self: flex-end;
      }

      .modal__title {
            font-size: 2rem;
      }
      
      .modal__buttons {
            width: 90%;
            margin: 3rem auto;
      }

      .modal__image img {
            width: 80%;
      }

      .modal__image small {
            font-size: 1.4rem;
      }

      .btn--return {
            width: 80%;
      }

      .pokemon__container {
            width: 80%;
      }

      .pokemon__measures {
            margin-bottom: 6rem;
      }

      .pokemon__types {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2rem;
            margin-bottom: 6rem;
      }

      .pokemon__types h3 {
            grid-column: 1 / 3;
            font-size: 2.4rem;
      }

      .pokemon__types p {
            margin: .5rem .5rem 0 .5rem;
      }

      .pokemon__content h3 {
            font-size: 2.4rem;
      }

      .pokemon__movements  {
            width: 80%;
      }

      .settings__container {
            width: 80%;
      }

      .settings__header h2, .settings__icon {
            font-size: 2.4rem;
      }

      .form__text h3 {
            font-size: 2rem;
      }

      .form__inputOption label{
            font-size: 1.8rem;
      }

      .settings__image-1 img, .settings__image-2 img {
            width: 40%;
      }

      .login__gif-2 img {
            width: 30%;
      }

      .pokemons__perPage {
            text-align: left;
            font-size: 1.8rem;
      }

      .pokemon__list-text {
            flex-direction: row;
            justify-content: space-around;
      }

}

@media ( min-width: 992px ) {

      .btn--reset,
      .btn--return  {
            width: 50%;
      }

      .login__gif-1 img,
      .login__gif-2 img {
            width: 30%;
      }

      .modal__pop {
            width: 60%;
      }

      .form {
            width: 70%;
      }

      .bar--app .bar__image{
            width: 50%;
      }

      .pokedex__welcome {
            font-size: 2rem;
      }

      .choose__imgBox p, .choose__search p {
            font-size: 1.8rem;
      }

      .pokemon__container {
            width: 95%;
            display: grid;
            column-gap: 1rem;
            grid-template-columns: 60% 40%;
      }

      .pokemon__gallery {
            height: fit-content;
      }

      .pokemon__subgallery {
            grid-template-columns: 1fr;
            row-gap: 1rem;
      }

      .pokemon__movements {
            width: 95%;
            padding: 5rem;
            margin-bottom: 10rem;
      }

      .pokemon__galleryImgBox:nth-child(1) img,
      .pokemon__galleryImgBox:nth-child(3) img {
            object-fit: cover;
            width: 25rem;
      }

      .pokemon__galleryImgBox:nth-child(2) img,
      .pokemon__galleryImgBox:nth-child(4) img {
            object-fit: cover;
            width: 15rem;
      }

      .settings .form {
            width: 100%;
      }

      .settings__header {
            margin-bottom: 3rem;
      }
}

@media ( min-width: 1200px ) {

      .pokemon__container {
            grid-template-columns: 70% 30%;
      }

      .modal__pop {
            width: 50%;
      }

      .error__page {
            padding: 5rem;
      }

      .btn--reset,
      .btn--return {
            width: 30%;
      }

      .pokemon-grid  {
            grid-template-columns: repeat(3, 1fr);
      }

      .login .form {
            width: 80rem;
            margin-bottom: 4rem;
            flex-direction: row;
      }

      .login__image {
            margin-top: 10rem;
      }

      .choose__header img {
            width: 25%;
      }

      .pokedex__header {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
      }

      .pokedex__header .form {
            width: 100%;
            height: 6rem;
            flex-direction: row;
      } 

      .pokedex__welcome {
            grid-column: 1 / 3;;
      }

      .form__input {
            flex-basis: 80%;
            height: 100%;
      }

      .form .btn {
            flex: 1;
      }

      .login__image {
            width: 40%;
      }

      .login__gif-1 img {
            width: 20%;
      }

      .login__gif-2 img {
            width: 20%;
      }

      .pokemon__card {
            width: 90%;
      }

      .settings__container  {
            padding: 5rem;
      }

      .bar--app .bar__image {
            left: 20%;
            width: 35%;
      }     

      .pokemon__movements,
      .pokemon__container {
            width: 100%;
      }

      .login__text {
            font-size: 2rem;
      } 

      .pokemon__card-info h3 {
            font-size: 2.4rem;
      }

      .pokemon__card-info-type {
            font-size: 1.6rem;
      }

      .pokemon__card-stat h4 {
            font-size: 1.6rem;
      }

      .pokemon__card-stat p {
            font-size: 1.8rem;
      }
} 

@media ( min-width: 1400px ) {
      .bar--app .bar__image {
            left: 20%;
            width: 30%;
      }

      .modal__pop {
            width: 40%;
      }

      .login__gif-2 img {
            width: 15%;
      }
}