/* ##################### */
/* LOGIN */
/* ##################### */

.login {
      height: 100%;
      display: flex;
      flex-direction: column;
}

.login__image {
      display: block;
      margin: 15rem auto 5rem;
      width: 90%;
}

.login__text {
      text-align: center;
      margin-bottom: 5rem;
}

.login__title {
      margin-bottom: 2rem;
}

.bar--login {
      margin-top: 10rem;
}

.login__form {
      margin-bottom: 3rem;
}

.login__gif-1,
.login__gif-2 {
      width: 95%;
      justify-content: flex-end;
} 

.login__gif-1 img {
      width: 60%;
}

.login__gif-2 img {
      width: 50%;
}

/* ##################### */
/* POKEDEX PAGE */
/* ##################### */

.choose__header {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      background-color: var(--color-theme-light);
      width: 90%;
      padding: 1rem;
      margin: 5rem 0 8rem 0;
}

.choose__header img {
      width: 30%;
}

.pokedex__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 8rem;
}

.pokedex__welcome {
      text-align: center;
      color: var(--color-red-3);
      font-weight: 700;
      line-height: 1.7;
      margin-bottom: 3rem;
}

.pokedex__welcome span {
      color: var(--color-font-2);
}

/* ##################### */
/* POKEDEX LIST */
/* ##################### */

.pokemon-grid {
      display: grid;
      grid-template-columns: 1fr;
}

/* ##################### */
/* POKEDEX CARD */
/* ##################### */

.pokemon__card  {
      margin: 0 auto;
      width: 70%;
      padding: .7rem;
      border-radius: 9px;
      margin-bottom: 2rem;
      cursor: pointer;
      position: relative;
}

.pokemon__card-overlay {
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-white);
      opacity: 0;
      overflow-y: hidden;
      border-radius: 9px;
}

.pokemon__card-overlay img {
      width: 70%;
}

.pokemon__card:hover {
      transform: translateY(-5px);
}

.pokemon__card:hover .pokemon__card-overlay {
      opacity: 1;
}

.pokemon__card-imageBox {
      display: flex;
      justify-content: center;
}

.pokemon__card-image {
      width: 50%;
}

.pokemon__card-info {
      font-size: 1.4rem;
      padding: 1rem;
      padding-top: 2rem;
      text-align: center;
      background-color: var(--color-white);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

.pokemon__card-info h3 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
}

.pokemon__card-types {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
}

.pokemon__card-type {
      display: flex;
      color: var(--color-font-3);
      font-weight: 600;
}

.pokemon__card-type p {
      margin-right: .5rem;
      margin-bottom: .5rem;
}

.pokemon__card-type p:last-child {
      margin: 0;
}

.pokemon__card-info-type {
      font-size: 1.2rem;
      color: var(--color-font-4);
}

.pokemon__card-stats {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
}

.pokemon__card-stat {
      margin-bottom: 1.5rem;
}

.pokemon__card-stat h4 {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 400;
      color: var(--color-font-4);
}

.pokemon__card-stat p {
      font-weight: bold;
}

/* ##################### */
/* POKEMON PAGE */
/* ##################### */

.pokemon__container {
      margin-bottom: 10rem;
      width: 95%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
}

.pokemon__info {
      background-color: var(--color-white);
      padding: 1rem;
      margin-bottom: 5rem;
}

.pokemon__info figure {
      display: flex;
      justify-content: center;
}

.pokemon__image {
      width: 60%
}

.pokemon__text {
      padding: 1rem;
      padding-top: 2rem;
}

.pokemon__general {
      text-align: center;
}

.pokemon__id {
      font-size: 3rem;
      font-weight: 700;
      border: 1px solid var(--color-font-4);
      width: 20rem;
      max-width: 80%;
      margin: 0 auto;
      margin-bottom: 2rem;
}

.pokemon__title {
      margin-bottom: 1rem;
      font-size: 2.4rem;
}

.pokemon__general hr {
      color: var(--color-font-4);
      margin-bottom: 2rem;
}

.pokemon__measures {
      display: flex;
      justify-content: center;
      margin-bottom: 3rem;
}

.pokemon__measure {
      margin-right: 5rem;
}

.pokemon__measure:last-child {
      margin: 0;
}

.pokemon__measure h3 {
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: 1rem;
}

.pokemon__measure p {
      font-size: 3rem;
      font-weight: 700;
}

.pokemon__content {
      display: flex;
      flex-direction: column;
}

.pokemon__content h3 {
      font-size: 2rem;
      margin-bottom: 2rem;
}

.pokemon__types {
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;
}

.pokemon__types p {
      margin-bottom: 1.2rem;
}

.pokemon__abilities {
      margin-bottom: 3rem;
}

.pokemon__stats h2 {
      margin-bottom: 1rem;
}

.pokemons__stats-list {
      padding: 2rem 0 0 0;
}

.pokemons__stat {
      margin-bottom: 2rem;
}

.pokemons__stat h3 {
      font-size: 1.6rem;
}

.pokemons__stat header {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.pokemon__gallery {
      margin-bottom: 5rem;
      padding: 1rem;
      background-color: var(--color-white);
      display: flex;
      flex-direction: column;
}

.pokemon__galleryImgBox {
      padding: 2rem;
      display: flex;
      justify-content: center;
      width: 100%;
}

.pokemon__galleryImgBox:nth-child(1) img,
.pokemon__galleryImgBox:nth-child(3) img {
      object-fit: cover;
      width: 12rem;
}

.pokemon__galleryImgBox:nth-child(2) img,
.pokemon__galleryImgBox:nth-child(4) img {
      object-fit: cover;
      width: 10rem;
}

.pokemon__subgallery {
      margin: 1rem 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
}

.pokemon__movements {
      background-color: var(--color-white);
      width: 95%;
      margin: 0 auto;
      padding: 2rem;
      display: flex;
      flex-direction: column;
}

.pokemon__movements h2 {
      margin-bottom: 1rem;
}

.pokemon__movementsContainer {
      padding: 2rem 0 0 0;
      display: flex;
      flex-wrap: wrap;
}

.pokemon__movement {
      margin: 0 1rem 1rem 0;
      background-color: var(--color-theme-light);
      padding: 1rem;
      border-radius: 100px;
      font-weight: 400;
      color: var(--color-black-1);
}

.pokemon__list-info {
      margin: 0 auto;
      width: 90%;
      background-color: var(--color-white);
      color: var(--color-font-2);
      margin-bottom: 5rem;
      padding: 2rem;
}

.pokemon__list-info h2 {
      font-size: 2rem;
      padding-bottom: 1rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid currentColor;
}

.pokemon__list-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
}

.pokemon__list-text p {
      margin-bottom: 2rem;
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      flex-direction: column;
}

.pokemon__list-text span {
      margin-top: 1rem;
      font-size: 2.4rem;
      font-weight: 700;
}

.pokemon__list-text span:last-child::first-letter {
      text-transform: uppercase;
}

/* ##################### */
/* SETTINGS */
/* ##################### */

.choose__imgBox {
      display: flex;
      justify-content: center;   
      flex-direction: column;
      align-items: center;   
      position: relative;
      font-weight: 600;
      height: 100%;
}

.choose__search {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      height: 100%;
}

.choose__imgBox p,
.choose__search p {
      margin-top: auto;
      background-color: var(--color-font-2);
      color: #fff;
      font-size: 1.2rem;
      padding: 1rem;
}

.rotate {
      cursor: pointer;
      animation: Rotate 1s ease-out infinite;
      display: block;
      margin-bottom: 2rem;
}

.rotate:hover {
      animation: Stop .5s ease-out;
}

.settings__container {
      width: 95%;
      margin: 0 auto;
      background-color: var(--color-white);
      padding: 2.5rem;
}

.settings__header {
      display: flex;
      justify-content: center;
      align-items: center;
}

.settings__header h2,
.settings__icon {
      font-size: 2rem;
      color: var(--color-font-1);
      text-transform: uppercase;
      margin-bottom: 5rem;
}

.settings__icon {
      margin-right: 2rem;
}

.form__field {
      display: flex;
      flex-direction: column;
      margin-bottom: 6rem;
}

.form__text {
      display: flex;
      align-items: center;
      color: var(--color-red-2);
      margin-bottom: 3rem;
}

.form__text h3 {
      font-size: 1.6rem;
      text-transform: uppercase;
}

.form__icon {
      font-size: 2rem;
      margin-right: 1rem;
}

.form__options {
      flex: 1;
      display: flex;
      gap: 4rem;
}

.form__inputOption {
      display: flex;
      justify-content: center;
      align-items: center;
}

.form__inputOption label {
      cursor: pointer;
      margin-right: 2rem;
      font-weight: 700;
      font-size: 1.4rem;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label:before {
      content: "";
      width: 26px;
      height: 26px;
      float: left;
      margin: 0 1rem .5rem 0;
      border: 2px solid #ccc;
      background: #fff;
      border-radius: 100%;
}

input[type="radio"]:checked + label:after {
    content: "";
    width: 0;
    height: 0;
    border: 1rem solid var(--color-red-2);
    float: left;
    margin-left: -3.3rem;
    margin-top: .2em;
    border-radius: 100%;
}

.settings__image-1,
.settings__image-2 {
      justify-content: flex-end;
}

.settings__image-1 img,
.settings__image-2 img {
      width: 50%;
}

/* ########################## */
/* PAGINATION */
/* ########################## */

.pagination {
      margin: 8rem 0;
      display: flex;
      justify-content: center;
      gap: 3rem;
      align-items: center;
      font-size: 2.4rem;
      font-weight: bold;
}

.pagination__control.disabled {
      cursor: not-allowed;
      opacity: .3;
}

.pagination__control {
      cursor: pointer;
      padding: 2rem;
}

.pagination__icon {
      font-size: 3rem;
}

.pagination__amount {
      text-align: center;
      font-size: 2rem;
}


